<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Alunos</title>
</head>
<body>
    <form method="POST">
    ID: <input type="text" name="txtNome" readonly ><br>
    Nome: <input type="text" name="txtNome" value=""><br>
    Endereço: <input type="text" name="txtEndereco" value=""><br>
    Data de Nascimento: <input type="date" name="txtDataNasc" value=""><br>
    Email: <input type="email" name="txtEmail" value=""><br>
    Telefone: <input type="text" name="txtTelefone" value=""><br>
    Cpf: <input type="text" name="txtNome" value=""><br>
    Altura: <input type="number" step="0.01" name="txtAltura" value=""><br>
    Peso: <input type="number" name="txtNome" value=""><br>
    <input type="submit" value="Enviar"><br>

   </form>

</body>
</html>

